<div class="wrapper">
  <section>
    <h2 class="titulo">El mundo de flores</h2>
    <div [innerHTML]="listaNoticias" class="cards"></div>
  </section>
  <h4>¿Qué flores te gustan a tí?</h4>
  <div class="formulario">
    <div class="form">
      <label for="title" class="label">Género</label>
      <input type="text" id="title" class="input" [(ngModel)]="title" />
    </div>
    <div class="form">
      <label for="img" class="label">Foto</label>
      <input type="url" id="img" class="input" [(ngModel)]="img" />
    </div>
    <div class="form">
      <label for="text" class="label">Descripción</label>
      <input type="text" id="text" class="input" [(ngModel)]="text" />
    </div>
    <div class="form">
      <label for="date" class="label">Fecha</label>
      <input type="date" id="date" class="input" [(ngModel)]="date" />
    </div>
    <button class="button" (click)="guardar()">ENVIAR</button>
  </div>
</div>
