<div class="formulario">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="title">
    </div>
    <div>
        <label for="img">URL</label>
        <input type="url" id="img" [(ngModel)]="img">
    </div>
    <div>
        <label for="text">Text</label>
        <input type="text" id="text" [(ngModel)]="text">
    </div>
    <div>
        <label for="date">Date</label>
        <input type="date" id="date" [(ngModel)]="date">
    </div>
    <button (click)="guardar()">Send</button>    
</div>

<hr>
<section>
    <h2>Noticias</h2>
    <div [innerHTML]="listaNoticias" class="listaNoticias">

    </div>

</section>

